/* FOOTER */
.footer {
	justify-content: center;
	background-color: $color_2;
	align-items: end;
	padding: 0.2rem;
	position: relative;
	bottom: 0px;
	color: $color_3;
	h5 {
		font-weight: bold;
	}
	a {
		text-decoration: none;
		img {
			width: 50px;
			margin: 0.1rem;
		}
	}
}